.scrollview {
    position: relative;
    height: -webkit-fill-available;
}

.scrollview--horizontal {
    display: flex;
}

.scrollview--vertical {
    display: flex;
    flex-direction: column;
}

.scrollview--horizontal .scrollview-content {
    overflow-x: scroll;
    overflow-y: visible;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.scrollview--vertical .scrollview-content {
    overflow-y: scroll;
    overflow-x: visible;
    /* display: flex;
    justify-content: center; */
}

.scrollview-content::-webkit-scrollbar {
    display: none;
}

.scrollview-control {
    transition: opacity 0.2s;
}

.scrollview-left--absolute {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(20%);
}

.scrollview-right--absolute {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-20%);
}

.scrollview-up--absolute {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    transform: translateY(10%);
}

.scrollview-down--absolute {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(-10%);
}

.scrollview-control-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrollview-control-vertical {
    display: flex;
    justify-content: center;
}

.scrollview-control--hidden {
    opacity: 0;
}